/*all start*/
html body {
    font-family: 'Roboto', sans-serif;
}
* {
    font-family: 'Roboto', sans-serif;
}
.main-background {
    background-image: url("../images/main-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*?*/
.my-row-menu {
    align-items: center;
}
/*?*/
/*.shadow {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    border-radius: 50px;
}*/
.background-all-blocks {
    background-color: #ffffff;
}
/*all end*/
/*block menu start*/
.menu-background {
    width: 100%;
    background-color: #1f1f1f;
}
/*burger start*/
.burger {
    display: block;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 40px;
    margin: 5px;
    border: solid 2px #ffffff;
    border-radius: 3px;
    padding: 3px;
    position: relative;
}
.burger:hover {
    cursor: pointer;
    border-color: #be416a;
}
.burger-line-1, .burger-line-2, .burger-line-3 {
    width: 40px;
    border: solid 1px #ffffff;
    border-radius: 1px;
}
.burger .burger-line-1, .burger .burger-line-2, .burger .burger-line-3 {
    position: absolute;
    transition: 1s;
}
.burger .burger-line-1 {
    top: 6px;
    left: 50%;
    margin-left: -20px;
}
.burger .burger-line-2 {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -20px;
}
.burger .burger-line-3 {
    top: 28px;
    left: 50%;
    margin-left: -20px;
}
.burger:hover .burger-line-1, .burger:hover .burger-line-2, .burger:hover .burger-line-3 {
    top: 50%;
    margin-top: -1px;
    margin-left: -20px;
    left: 50%;
    transform: rotate(0deg);
}
.burger:hover .burger-line-1 {
    transform: rotate(45deg);
}
.burger:hover .burger-line-2 {
    display: none;
}
.burger:hover .burger-line-3 {
    transform: rotate(-45deg);
}

@media (min-width: 992px) {
    .my-row-menu {
        justify-content: center;
    }

    .burger {
        display: none;
    }

    .menu {
        display: flex !important;
    }
}
/*burger end*/
/*menu start*/
@media (min-width: 320px) {
    .my-row-menu {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .menu {
        margin: auto;
        padding: 0;
        list-style-type: none;
        display: none;
        justify-content: space-around;
        align-items: center;
    }

    .menu li {
        margin: 10px;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu li:hover {
        cursor: pointer;
    }

    .menu a {
        color: #ffffff;
        font-weight: 300;
    }

    .menu > li:after {
        content: '';
        display: inline-block;
        border: solid 10px transparent;
        transition: .5s;
    }

    .menu li:hover:after {
        border-bottom-color: #ffffff;
    }
}
/*block menu end*/
/*header start*/
header {
    background-image: url("../images/main-background-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.my-row-header {
    flex-direction: column;
    height: 320px;
    justify-content: space-around;
}

/*.logo {
    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .9));
}*/
.button {
    display: flex;
    justify-content: flex-end;
}

header form > input {
    width: 145px;
    height: 47px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/button.png");
    cursor: pointer;
}
/*header end*/
/*main*/
.my-row-main {
    flex-direction: column;
    align-items: center;
}

main article {
    max-width: 800px;
    /*height: 70px;*/
    color: #5790dc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 5px;
}
main article>div {
    text-align: end;
}
main article>div>a {
    color: gray;
}
/*main*/