/*all start*/
html body {
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
}
.main-background {
    background-image: url("../images/main-background.png");
    background-size: cover;
}
.my-row-menu {
    align-items: center;
}
/*all end*/
/*block menu start*/
.menu-background {
    width: 100%;
    background-color: #1f1f1f;
}
/*burger start*/
.burger {
    display: block;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 40px;
    margin: 5px;
    border: solid 2px #ffffff;
    border-radius: 3px;
    padding: 3px;
    position: relative;
}
.burger:hover {
    cursor: pointer;
    border-color: #be416a;
}
.burger-line-1, .burger-line-2, .burger-line-3 {
    width: 40px;
    border: solid 1px #ffffff;
    border-radius: 1px;
}
.burger .burger-line-1, .burger .burger-line-2, .burger .burger-line-3 {
    position: absolute;
    transition: 1s;
}
.burger .burger-line-1 {
    top: 6px;
    left: 50%;
    margin-left: -20px;
}
.burger .burger-line-2 {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -20px;
}
.burger .burger-line-3 {
    top: 28px;
    left: 50%;
    margin-left: -20px;
}
.burger:hover .burger-line-1, .burger:hover .burger-line-2, .burger:hover .burger-line-3 {
    top: 50%;
    margin-top: -1px;
    margin-left: -20px;
    left: 50%;
    transform: rotate(0deg);
}
.burger:hover .burger-line-1 {
    transform: rotate(45deg);
}
.burger:hover .burger-line-2 {
    display: none;
}
.burger:hover .burger-line-3 {
    transform: rotate(-45deg);
}
/*burger end*/
/*menu start*/
.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    justify-content: space-around;
    align-items: center;
}
.menu li {
    margin: 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu li:hover {
    cursor: pointer;
}
.menu a {
    color: #ffffff;
    font-weight: 300;
}
.menu>li:after {
    content: '';
    display: inline-block;
    border: solid 10px transparent;
    transition: .5s;
}
.menu li:hover:after {
    border-bottom-color: #ffffff;
}
/*block menu end*/
@media (min-width: 992px) {
    .my-row-menu {
        justify-content: center;
    }
    .burger {
        display: none;
    }
    .menu{
        display: flex !important;
    }
}